{% extends 'base.html' %}

{% block  title %}
Главная страница
{% endblock %}

{% block index %}
    <li class="in">Главная</li>
{% endblock %}

{% block  body %}
<br><br><br><br><br>
    <div id="main">
      <div>
        <h2>Что такое Blender</h2><br>
        <h3><u>Blender 3D</u> ― мощная и бесплатная программа для 3D-моделирования, анимации и рендеринга.
           Она широко используется пользователями по всему миру благодаря своим широким возможностям и
           гибким инструментам, которые позволяют создавать высококачественные модели и анимации.
         </h3><br><br>
         <h2>Для чего необходим Blebder</h2><br>
         <ul type='disk'>
           <li><b>Моделирование.</b><br>В программе есть инструменты для создания 3D-моделей любой сложности: простых предметов и детально проработанных персонажей.</li><br>
           <li><b>Визуализация.</b><br>Например, для визуализации интерьеров помещений, экстерьеров, выставочных стендов.</li><br>
           <li><b>Анимация.</b><br>В программе можно создавать видеоролики, полнометражные и короткометражные фильмы.</li><br>
           <li><b>Редактирование видео.</b><br>Можно комбинировать видеофайлы и каналы, добавлять визуальные эффекты.</li><br>
           <li><b>Создание визуальных эффектов.</b><br>Например, для киноиндустрии, когда нужно создать спецэффекты в фильмах и их монтаж, совместить 3D и видеоряд. </li><br>
           <li><b>Риггинг.</b><br>Так называют анимирование персонажей, существ, объектов.</li><br>
           <li><b>Рендеринг.</b><br>С его помощью прорабатывают текстуры в играх и видео. </li><br>
           <li><b>Создание игр.</b><br>Программа востребована в сфере Game Dew — её применяют в разработке приложений и компьютерных игр. </li><br>
         </ul>
      </div>
    </div>
{% endblock %}