{% extends 'base.html' %}

{% block  title %}
Справочник
{% endblock %}

{% block spravochik %}
    <li class="in">Справочник</li>
{% endblock %}

{% block  body %}
    <div id="s">
        <p><h1><b>СПРАВОЧНИК BLENDER</b></h1><br><br>
        <ul>
            <li><a href="#1">Режимы работы</a></li><a name="1"></a>
            <li><a href="#2">Модификаторы</a></li>
        </ul>
        <div>
            <br>
            <br>
            <h4><b>РЕЖИМЫ РАБОТЫ</b></h4>
            <h5>Для любого действия в 3D моделирование существует определенные режимы работы, которые включают в себя
                интерфейс и дополнительные функции. Режимы упрощают работу и позволяют разделить процесс создания модели
                поэтапно.<br><br>
                <u>Режимы blender:</u></h5>
            <ol class="sol1">
                <li><p><b><a href ="#Obj">Object Mode</a></b></p></li><br>
                <li><p><b><a href ="#Edi">Edit Mode</a></b></p></li><br>
                <li><p><b><a href ="#Scu">Sculpt Mode</a></b></p></li><br>
                <li><p><b><a href="#Ver">Vertex Paint mode</a></b></p></li><br>
                <li><p><b><a href="#Wei">Weight Paint mode</a></b></p></li><br>
                <li><p><b><a href="#Tex">Texture Paint mode</a></b></p></li>
            </ol><br><br><a name="Obj"></a><br><br>



            <p><h3><b>Object Mode (Режим Объекта):</b></h3>
            <div class="info">
                <h6><b class="b1">Назначение:</b> Основной режим для управления целыми объектами.</h6>
                <h6><b class="b1">Функции:</b></h6><br>
                <ul type='disk'>
                    <li><h6>Выделение, перемещение, вращение, масштабирование, дублирование и удаление объектов.</h6></li>
                    <li><h6>Применение модификаторов к объектам.</h6></li>
                    <li><h6>Переключение между объектами.</h6></li>
                </ul>
                <h6><b class="b1">Когда использовать:</b> когда нужно работать с объектами как с единым целым, менять их положение в сцене, а не редактировать их геометрию.</h6>
            <h7>*Переключение в режим редактирования (Edit Mode) выполняется клавишей Tab клавиатуры. Повторное нажатие Tab вернёт в предыдущий режим. Также переходить в другой режим изменения объекта можно с помощью выпадающего списка в заголовке редактора.<a name="Edi"></a></h7>
            </div><br><br>


            <p><h3><b>Edit Mode (Режим Редактирования):</b></h3>
            <div class="info">
                <h6><b class="b1">Назначение:</b> режим для изменения геометрии (формы) объектов, например, мешей.</h6>
                <h6><b class="b1">Функции:</b></h6><br>
                <ul type='disk'>
                    <li><h6>Выделение и перемещение, вращение, масштабирование отдельных вершин, рёбер и граней (полигонов).</h6></li>
                    <li><h6>Экструдирование, вырезание, добавление и удаление геометрии.</h6></li>
                    <li><h6>Различные инструменты для моделирования.</h6></li>
                </ul>
                <h6><b class="b1">Когда использовать:</b> когда нужно изменить форму объекта, добавить или удалить полигоны, создать сложные модели из простых примитивов.</h6>
                    <h7>*Для перехода в режим редактирования нужно нажать клавишу Tab или выбрать режим Edit Mode в заголовке окна 3D-вида. <a name="Scu"></a></h7>
            </div><br><br>


            <p><h3><b>Sculpt Mode (Режим Скульптинга):</b></h3></p>
            <div class="info">
                <h6><b class="b1">Назначение:</b> режим для моделирования “лепкой”, как если бы вы работали с глиной.</h6>
                <h6><b class="b1">Функции:</b></h6><br>
                <ul type='disk'>
                    <li><h6>Различные кисти для добавления, сглаживания, выдавливания и других деформаций на поверхности модели.</h6></li>
                    <li><h6>Работа с динамической сеткой (Dyntopo) для добавления детализации.</h6></li>
                    <li><h6>Создание органических форм.</h6></li>
                </ul>
                <h6><b class="b1">Когда использовать:</b> когда нужно создать сложные органические модели, персонажей, скульптуры, а также добавить детализацию к уже существующим моделям.<a name="Ver"></a></h6>
            </div><br><br>


            <p><h3><b>Vertex Paint Mode (Режим Покраски Вершин):</b></h3></p>
            <div class="info">
                <h6><b class="b1">Назначение:</b> : режим для покраски вершин объекта, позволяющий раскрасить объект без использования текстур (удобно для низкополигональных моделей).</h6>
                <h6><b class="b1">Функции:</b></h6><br>
                    <ul type='disk'>
                        <li><h6>Разные кисти для окраски вершин, их смешивания, размытия.</h6></li>
                        <li><h6>Раскраска в зависимости от освещения и других параметров.</h6></li>
                    </ul>
                <h6><b class="b1">Когда использовать:</b> когда нужно раскрасить объект, особенно простые низкополигональные модели, или добавить детализацию цвета без использования сложных текстур.<a name="Wei"></a>></h6>
            </div></a><br><br>

            <p><h3><b>Weight Paint Mode (Режим Рисования Весов):</b></h3></p>
            <div class="info">
                <h6><b class="b1">Назначение:</b> режим для определения влияния костей скелета на деформацию меша при анимации.</h6>
                <h6><b class="b1">Функции:</b></h6><br>
                    <ul type='disk'>
                        <li><h6>Кисти для раскрашивания вершин, где красный цвет означает максимальное влияние, а синий — минимальное.</h6></li>
                        <li><h6>Настройка плавности влияния костей.</h6></li>
                    </ul>
                <h6><b class="b1">Когда использовать:</b> когда нужно анимировать модель, деформируя ее поверхность (например, сгибая руку).<a name="Tex"></a></h6>
            </div><br><br>

            <p><h3><b>Texture Paint Mode (Режим Текстурного Рисования):</b></h3></p>
            <div class="info">
                <h6><b class="b1">Назначение:</b> Режим для непосредственного рисования текстур на поверхности объекта.</h6>
                <h6><b class="b1">Функции:</b></h6><br>
                    <ul type='disk'>
                        <li><h6>Различные кисти для рисования, штампы, заливки.</h6></li>
                        <li><h6>Возможность использовать текстуры для кистей.</h6></li>
                        <li><h6>Рисование на UV-развертке модели.</h6></li>
                    </ul>
                <h6><b class="b1">Когда использовать:</b> когда нужно создать уникальные текстуры для объекта, нарисовав их прямо на модели.</h6>
            </div><br><br>

            <div class="info">
                <h6><b class="b1">Ключевые моменты:</b></h6><br>
                    <ul type="disk">
                        <li><h6><b class="b1">Зависимость:</b> не все режимы доступны для всех типов объектов. Например, Edit Mode работает только с мешами.</h6></li>
                        <li><h6><b class="b1">Контекст:</b> Режим работы определяет, какие инструменты доступны и как они себя ведут.</h6></li>
                        <li><h6><b class="b1">Освоение:</b> чтобы по-настоящему освоить Blender, нужно понимать, какой режим использовать в какой ситуации.</h6></li>
                    </ul>
            </div><br><br><br><a name="2"></a><hr><br><br>
        </div>
        <div>
            <h4><b>МОДИФИКАТОРЫ</b></h4>
            <h5>Важной частью 3D моделирвания является работа с модификаторами. Они придают необходимые свойства для объекта,
                к примеру: закругляют модель, добавляют тени и т.д.<br>
                Всего в blendere 54 модификатора, которые делятся на 5 категорий, по принципу их работы<br><br>
                <u>Категории модификаторы:</u></h5>
            <ol class="sol1">
                <li><p><b><a href="#Edit">Edit</a></b></p></li><br>
                <li><p><b><a href="#Generate">Generate</a></b></p></li><br>
                <li><p><b><a href="#Deform">Deform</a></b></p></li><br>
                <li><p><b><a href="#Normals">Normals</a></b></p></li><a name="Edit"></a><br>
                <li><p><b><a href="#Physics">Physics</a></b></p></li>
            </ol><br><br>
        <p><h3><b>Модификаторы Edit (Редактирование):</b></h3>
            <div class="info">
                <h6><b class="b1">Назначение:</b> прямое изменение геометрии, топологии или формы объекта.</h6><br>
                <h6>В модификаторы Edit входят:</h6><br>
                    <ol class="sol2">
                        <li><p><b><a href="#Dat">Data Transfer</a></b></p></li><br>
                        <li><p><b><a href="#Mes">Mesh Cache</a></b></p></li><br>
                        <li><p><b><a href="#MSC">Mesh Sequence Cache</a></b></p></li><br>
                        <li><p><b><a href="#UVP">UV Project</a></b></p></li><br>
                        <li><p><b><a href="#UVW">UV Warp</a></b></p></li><br>
                        <li><p><b><a href="#VWE">Vertex Weight Edit</a></b></p></li><br>
                        <li><p><b><a href="#VWM">Vertex Weight Mix</a></b></p></li><br>
                        <li><p><b><a href="#VWP">Vertex Weight Proximity</a></b></p></li><br>
                    </ol>
            </div><a name="Dat"></a><br><br>
            <div class="info2">
                <p><h3><b><u>Data Transfer (Перенос данных)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Копирование данных (веса вершин, UV-координаты, цвета вершин, пользовательские данные и т.д.) с одного объекта на другой. Используется для переноса сложных настроек и атрибутов между мешами, экономя время и усилия.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Mes"></a>
                <h6>Выбирает данные с объекта-источника (source) и применяет их к объекту-приемнику (target). Можно настроить, какие именно данные нужно переносить и как они будут влиять на целевой объект.</h6><br>
            </div>
            <div class="info2-2">
                <p><h3><b><u>Mesh Cache (Кэш сетки)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Запись и воспроизведение деформации меша во времени. Используется для сохранения сложных деформаций, например, от симуляции, и дальнейшего использования на других объектах или в других сценах.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="MSC"></a>
                <h6>Копирует выбранные данные с объекта-источника на объект-приемник, модифицируя его геометрию. Позволяет переносить сложные атрибуты и создавать эффекты, которые трудно достичь другими способами.</h6><br>
            </div>
            <div class="info2">
                <p><h3><b><u>Mesh Sequence Cache (Кэш последовательности сетки)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Работа с последовательностью изменяющихся сеток, например, результатом симуляции.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="UVP"></a>
                <h6>Аналогичен Mesh Cache, но предназначен для работы с последовательностью деформирующихся мешей. Применяет анимированные изменения к геометрии на основе кэшированной последовательности. Позволяет кэшировать сложные анимации и использовать их повторно.</h6><br>
            </div>
            <div class="info2-2">
                <p><h3><b><u>UV Project (UV-проецирование)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Проецирование UV-координат на объект с помощью другого объекта, чаще всего, лампы или камеры. Позволяет создавать сложные UV-развертки на объектах с помощью проецирования</h6>
                <h6><b class="b1">Функция:</b></h6><a name="UVW"></a>
                <h6>Выбирает источник проецирования (объект или камеру), устанавливает направление проецирования и применяет UV-координаты к объекту. Позволяет наносить текстуры на поверхности сложной формы.</h6><br>
            </div>
            <div class="info2">
                <p><h3><b><u>UV Warp (UV-искривление)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Деформация UV-координат объекта, следуя за деформацией другого объекта. Позволяет создавать сложные эффекты текстурирования, синхронизируя текстуру с изменением объекта.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="VWE"></a>
                <h6>Выбирает объект-источник деформации и деформирует UV-координаты целевого объекта в соответствии с ним. Позволяет анимировать текстуру, деформируя ее синхронно с мешем.</h6><br>
            </div>
            <div class="info2-2">
                <p><h3><b><u>Vertex Weight Edit (Редактирование весов вершин)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Точная настройка весов вершин для контроля деформации объектов, например, при использовании арматуры. Используется для создания плавных и реалистичных деформаций.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="VWM"></a>
                <h6>Позволяет вручную редактировать веса вершин, используя инструменты выделения и рисования. Позволяет точно настроить, как конкретная вершина влияет на деформацию объекта.</h6><br>
            </div>
            <div class="info2">
                <p><h3><b><u>Vertex Weight Mix (Смешивание весов вершин)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Создание более сложных деформаций путем смешивания весов вершин из нескольких групп. Позволяет комбинировать разные группы вершин для более сложного контроля деформаций.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="VWP"></a>
                <h6>Выбирает две группы вершин и смешивает их веса с заданной пропорцией. Позволяет создавать плавные переходы между разными деформациями.</h6><br>
            </div>
            <div class="info2-2">
                <p><h3><b><u>Vertex Weight Proximity (Близость весов вершин)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Назначение весов вершинам в зависимости от их близости к другим объектам. Используется для создания динамических эффектов деформации, где веса меняются в зависимости от положения других объектов.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Generate"></a>
                <h6>Выбирает объекты, от которых зависит близость вершин, и задает, как эта близость влияет на веса вершин. Позволяет создавать динамически изменяющиеся веса, основанные на окружении.</h6><br>
            </div>
        <p><h3><b>Модификаторы Generate (Генерация):</b></h3>
            <div class="info">
                <h6><b class="b1">Назначение:</b> создания новой геометрии, изменения структуры геометрии или генерации новых форм на основе исходного объекта. Они не просто деформируют существующую геометрию, а скорее используют её как основу для создания чего-то нового или для изменения её топологии.</h6><br>
                <h6>В модификаторы Generate входят:</h6><br>
                    <ol class="sol2">
                        <li><p><b><a href="#Arr">Array</a></b></p></li>
                        <li><p><b><a href="#Bev">Bevel</a></b></p></li><br>
                        <li><p><b><a href="#Boo">Boolean</a></b></p></li>
                        <li><p><b><a href="#Bui">Build</a></b></p></li><br>
                        <li><p><b><a href="#Dec">Decimate</a></b></p></li>
                        <li><p><b><a href="#Edg">Edge Split</a></b></p></li><br>
                        <li><p><b><a href="#Geo">Geometry Nodes</a></b></p></li>
                        <li><p><b><a href="#Mas">Mask</a></b></p></li><br>
                        <li><p><b><a href="#MesV">Mesh to Volume</a></b></p></li>
                        <li><p><b><a href="#Mir">Mirror</a></b></p></li><br>
                        <li><p><b><a href="#Mul">Multiresolution </a></b></p></li>
                        <li><p><b><a href="#Rem">Remesh</a></b></p></li><br>
                        <li><p><b><a href="#Scr">Screw</a></b></p></li>
                        <li><p><b><a href="#Ski">Skin</a></b></p></li><br>
                        <li><p><b><a href="#Sol">Solidify</a></b></p></li>
                        <li><p><b><a href="#Sub">Subdivision Surface</a></b></p></li><br>
                        <li><p><b><a href="#Tri">Triangulate</a></b></p></li>
                        <li><p><b><a href="#Vol">Volume to Mesh</a></b></p></li><br>
                        <li><p><b><a href="#Wel">Weld</a></b></p></li>
                        <li><p><b><a href="#Wir">Wireframe</a></b></p></li><br>
                    </ol>
            </div><a name="Arr"></a><br><br>
            <div class="info2">
                <p><h3><b><u>Array (Массив)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6> Создание множества копий объекта, расположенных в массиве. Позволяет быстро и эффективно создавать повторяющиеся структуры.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Bev"></a>
                <h6> Создает копии объекта вдоль одной или нескольких осей, а также по кривой. Можно настраивать смещение, количество копий, и способы трансформации каждой копии.</h6><br>
            </div>
            <div class="info2-2">
                <p><h3><b><u>Bevel (Скос)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6> Создание фасок или скруглений на острых краях и углах объекта. Используется для придания объектам более гладкого и реалистичного вида.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Boo"></a>
                <h6>Добавляет скошенные или скругленные края к геометрии, уменьшая резкие переходы. Можно настраивать ширину, количество сегментов, и профиль скоса.</h6><br>
            </div>
            <div class="info2">
                <p><h3><b><u>Boolean (Булевы операции)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Выполнение булевых операций (объединение, вычитание, пересечение) между двумя объектами. Позволяет создавать сложные формы путем комбинации более простых объектов.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Bui"></a>
                <h6>Выполняет выбранную булеву операцию (разность, объединение, пересечение) между текущим объектом и выбранным объектом-целью.</h6><br>
            </div>
            <div class="info2-2">
                <p><h3><b><u>Build (Построение)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Анимирование появления объекта, создавая эффект “построения” из отдельных частей.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Dec"></a>
                <h6>Анимирует появление объекта, как если бы он собирался по частям. Можно настроить направление, скорость и порядок появления.</h6><br>
            </div>
            <div class="info2">
                <p><h3><b><u>Decimate (Декремация)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6> Уменьшение количества полигонов (треугольников) в объекте. Используется для оптимизации объектов, снижения нагрузки на компьютер и упрощения топологии.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Edg"></a>
                <h6> Уменьшает количество полигонов меша, сохраняя общую форму. Можно настраивать степень децимации и способ её применения.</h6><br>
            </div>
            <div class="info2-2">
                <p><h3><b><u>Edge Split (Разделение Края)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Разделение геометрии по острым углам или по весам. Используется для управления затенением и сглаживанием на различных частях объекта.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Geo"></a>
                <h6>Разделяет вершины вдоль острых углов или по весам, позволяя применить к разным частям разные шейдеры и сглаживания.</h6><br>
            </div>
            <div class="info2">
                <p><h3><b><u>Geometry Nodes (Геометрические ноды)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Мощный инструмент для генерации, деформации и модификации геометрии с использованием нодовой системы.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Mas"></a>
                <h6>Выполняет операции с геометрией, используя нодовую систему. Позволяет создавать процедурные эффекты, сложные формы и автоматизировать процессы моделирования.</h6><br>
            </div>
            <div class="info2-2">
                <p><h3><b><u>Mask (Маска)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Скрытие или отображение частей объекта в зависимости от других объектов, групп вершин или весов.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="MesV"></a>
                <h6>Скрывает или отображает части геометрии на основе маски, которую можно создать с помощью групп вершин, объектов или весов.</h6><br>
            </div>
            <div class="info2">
                <p><h3><b><u>Mesh to Volume (Преобразование в объём)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Преобразование меш-объекта в объёмный. Позволяет использовать меш в качестве основы для объёмных эффектов.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Mir"></a>
                <h6>Преобразует меш в объём, сохраняя его форму. Может использоваться для объёмного рендеринга, создания облаков, тумана и т.д.</h6><br>
            </div>
            <div class="info2-2">
                <p><h3><b><u>Mirror (Зеркало)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Создание зеркальной копии объекта вдоль одной или нескольких осей. Используется для быстрого создания симметричных моделей.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Mul"></a>
                <h6>Создаёт зеркальную копию объекта по указанным осям. Можно настроить смещение, точки поворота и параметры отражения.</h6><br>
            </div>
            <div class="info2">
                <p><h3><b><u>Multiresolution (Мультиразрешение)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6> Создание нескольких уровней детализации меша для скульптинга.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Rem"></a>
                <h6> Позволяет создавать несколько уровней детализации меша, что очень удобно для скульптинга. Чем выше уровень, тем больше детализация.</h6><br>
            </div>
            <div class="info2-2">
                <p><h3><b><u>Remesh (Пересетка)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Перестраивает топологию меша, делая ее более однородной, менее сложной или более подходящей для скульптинга.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Scr"></a>
                <h6>Перестраивает полигоны меша, изменяя их количество и размер. Может упростить сложные меши или сделать их более подходящими для определенных задач, например для скульптинга.</h6><br>
            </div>
            <div class="info2">
                <p><h3><b><u>Screw (Винт)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Создание объекта путем вращения профиля вдоль оси. Используется для создания винтообразных и спиралевидных форм.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Ski"></a>
                <h6>Вращает 2D-профиль вокруг оси, создавая трехмерную форму. Можно настроить количество оборотов, угол и другие параметры.</h6><br>
            </div>
            <div class="info2-2">
                <p><h3><b><u>Skin Modifier (Кожа)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Создание объемной геометрии на основе скелета (вершин, соединенных ребрами). Используется для создания органических форм и скелетного моделирования.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Sol"></a>
                <h6>Создает трехмерную геометрию на основе скелета из вершин и ребер. Позволяет управлять толщиной и формой геометрии.</h6><br>
            </div>
            <div class="info2">
                <p><h3><b><u>Solidify (Утолщение)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Добавление толщины к поверхности объекта. Используется для создания «оболочки» объекта или для создания толщины плоских поверхностей.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Sub"></a>
                <h6> Создает «оболочку» вокруг объекта, придавая ему толщину. Можно настроить толщину, смещение и другие параметры.</h6><br>
            </div>
            <div class="info2-2">
                <p><h3><b><u>Subdivision Surface (Разделение поверхности)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Увеличение детализации и сглаживание объекта путем разделения его поверхностей на более мелкие.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Tri"></a>
                <h6>Делит поверхность объекта на более мелкие полигоны, добавляя сглаживание. Можно настроить количество разделений.</h6><br>
            </div>
            <div class="info2">
                <p><h3><b><u>Triangulate (Триангуляция)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6> Преобразование всех полигонов объекта в треугольники.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Vol"></a>
                <h6>Разбивает все полигоны меша на треугольники. Полезно при экспорте в другие программы, где треугольники могут быть предпочтительнее.</h6><br>
            </div>
            <div class="info2-2">
                <p><h3><b><u>Volume to Mesh (Преобразование в меш)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Преобразование объемного объекта в меш. Позволяет получить геометрическую форму на основе объема.</h6>
                <h6><b class="b1">Функция:</b></h6><a name=""></a>
                <h6>Преобразует объём в меш, используя различные методы, такие как Marching Cubes. Может использоваться для создания различных форм и поверхностей.</h6><br>
            </div>
            <div class="info2">
                <p><h3><b><u>Weld (Сваривание)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Объединение вершин, расположенных близко друг к другу. Используется для упрощения и очистки геометрии.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Wir"></a>
                <h6>Соединяет вершины, которые находятся в пределах заданной дистанции, удаляя лишнюю геометрию и делая меш более однородным.</h6><br>
            </div>
            <div class="info2-2">
                <p><h3><b><u>Wireframe (Каркас)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6> Создание каркасной структуры из ребер объекта.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Deform"></a>
                <h6>Создает каркас из ребер объекта, позволяя сделать его «ребристым». Можно настраивать толщину и другие параметры.</h6><br>
            </div>
        <p><h3><b>Модификаторы Deform:</b></h3>
            <div class="info">
                <h6><b class="b1">Назначение:</b> изменения формы объектов путем деформации их геометрии. Они позволяют создавать различные виды искривлений, растяжений, сжатий и других деформаций. Главное отличие от “Generate” - они не создают новую геометрию, а модифицируют существующую.</h6><br>
                <h6>В модификаторы Deform входят:</h6><br>
                    <ol class="sol2">
                        <li><p><b><a href="#Arm">Armature</a></b></p></li>
                        <li><p><b><a href="#Cast">Cast</a></b></p></li><br>
                        <li><p><b><a href="#Cur">Curve</a></b></p></li>
                        <li><p><b><a href="#Dis">Displace</a></b></p></li><br>
                        <li><p><b><a href="#Hook">Hook</a></b></p></li>
                        <li><p><b><a href="#Lap">Laplacian Deform</a></b></p></li><br>
                        <li><p><b><a href="#Lat">Lattice</a></b></p></li>
                        <li><p><b><a href="#MesD">Mesh Deform</a></b></p></li><br>
                        <li><p><b><a href="#Shr">Shrinkwrap</a></b></p></li>
                        <li><p><b><a href="#Sim">Simple Deform</a></b></p></li><br>
                        <li><p><b><a href="#Smo">Smooth</a></b></p></li>
                        <li><p><b><a href="#SmoC">Smooth Corrective</a></b></p></li><br>
                        <li><p><b><a href="#SmoL">Smooth Laplacian</a></b></p></li>
                        <li><p><b><a href="#SurD">Surface Deform</a></b></p></li><br>
                        <li><p><b><a href="#VolD">Volume Displace</a></b></p></li>
                        <li><p><b><a href="#Warp">Warp</a></b></p></li><br>
                        <li><p><b><a href="#Wave">Wave</a></b></p></li>
                    </ol>
            </div><a name="Arm"></a><br><br>
            <div class="info2">
                <p><h3><b><u>Armature (Арматура)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Привязка объекта к скелету (арматуре) для анимации и деформации.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Cast"></a>
                <h6>Привязывает объекты к костям арматуры, позволяя управлять их деформацией с помощью настроек на костях.</h6><br>
            </div>
            <div class="info2-2">
                <p><h3><b><u>Cast (Отливка)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Изменение формы объекта, придавая ему цилиндрическую, сферическую или кубическую форму.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Cur"></a>
                <h6>Деформирует объект, используя заданные параметры для создания форм, напоминающих цилиндр, сферу или куб.</h6><br>
            </div>
            <div class="info2">
                <p><h3><b><u>Curve (Кривая)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Деформация объекта вдоль кривой.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Dis"></a>
                <h6>Деформирует объект, следуя за формой кривой. Используется для создания различных изгибов, скручиваний и других деформаций.</h6><br>
            </div>
            <div class="info2-2">
                <p><h3><b><u>Displace (Смещение)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Смещение вершин объекта в соответствии с текстурой.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Hook"></a>
                <h6>Использует текстуру для смещения вершин объекта, создавая рельеф и детализацию на основе ее данных.</h6><br>
            </div>
            <div class="info2">
                <p><h3><b><u>Hook (Крюк)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Привязка вершин объекта к другим объектам для управления деформацией.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Lap"></a>
                <h6>Привязывает вершины объекта к другим объектам, позволяя изменять их положение, используя деформации целевого объекта.</h6><br>
            </div>
            <div class="info2-2">
                <p><h3><b><u>Laplacian Deform (Деформация Лапласиана)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Деформация объекта с сохранением объема и формы.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Lat"></a>
                <h6>Деформирует объект, сохраняя его объем и форму, используя математические принципы Лапласиана.</h6><br>
            </div>
            <div class="info2">
                <p><h3><b><u>Lattice (Решетка)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Деформация объекта с помощью решетки (сетки) контрольных точек.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="MesD"></a>
                <h6>Деформирует объект, используя решетку, управляющую перемещением вершин объекта.</h6><br>
            </div>
            <div class="info2-2">
                <p><h3><b><u>Mesh Deform (Деформация сетки)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Деформация объекта с помощью другого меша.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Shr"></a>
                <h6>Деформирует объект в соответствии с формой другого меша.</h6><br>
            </div>
            <div class="info2">
                <p><h3><b><u>Shrinkwrap (Обёртывание)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Прикрепление объекта к поверхности другого объекта.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Sim"></a>
                <h6>Деформирует объект, прикрепляя его к поверхности другого объекта.</h6><br>
            </div>
            <div class="info2-2">
                <p><h3><b><u>Simple Deform (Простая деформация)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Простое искривление объекта.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Smo"></a>
                <h6>Деформирует объект, используя простые методы, такие как сжатие, растяжение, изгибы.</h6><br>
            </div>
            <div class="info2">
                <p><h3><b><u>Smooth (Сглаживание)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Сглаживание геометрии объекта.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="SmoC"></a>
                <h6>Сглаживает поверхность объекта, уменьшая резкие переходы.</h6><br>
            </div>
            <div class="info2-2">
                <p><h3><b><u>Smooth Corrective (Корректирующее сглаживание)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Корректирующее сглаживание геометрии.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="SmoL"></a>
                <h6>Сглаживает геометрию, улучшая гладкость поверхности, без удаления существенных деталей.</h6><br>
            </div>
            <div class="info2">
                <p><h3><b><u>Smooth Laplacian (Корректирующее Лапласиана)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Сглаживание геометрии, используя лапласиан.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="SurD"></a>
                <h6>Сглаживание геометрии, основываясь на различиях в соседних вершинах.</h6><br>
            </div>
            <div class="info2-2">
                <p><h3><b><u>Surface Deform (Деформация поверхности)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Деформация поверхности объекта.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="VolD"></a>
                <h6>Деформирует поверхность объекта, используя параметры и контрольные точки.</h6><br>
            </div>
            <div class="info2">
                <p><h3><b><u>Volume Displace (Объемное смещение)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Смещение вершин объекта в соответствии с объёмной текстурой.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Warp"></a>
                <h6>Использует данные объёмной текстуры для смещения вершин объекта, создавая 3D-эффекты.</h6><br>
            </div>
            <div class="info2-2">
                    <p><h3><b><u>Warp (Искривление)</u></b></h3>
                    <h6><b class="b1">Назначение:</b></h6>
                    <h6>Искривление объекта вокруг заданной точки.</h6>
                    <h6><b class="b1">Функция:</b></h6><a name="Wave"></a>
                    <h6>Искривляет объект вокруг заданной точки.</h6><br>
                </div>
            <div class="info2">
                    <p><h3><b><u>Wave (Волна)</u></b></h3>
                    <h6><b class="b1">Назначение:</b></h6>
                    <h6>Добавление волновой деформации к объекту.</h6>
                    <h6><b class="b1">Функция:</b></h6><a name="Normals"></a>
                    <h6>Добавляет волновые эффекты к объекту, создавая динамические деформации.</h6><br>
                </div>
        <p><h3><b>Модификаторы Normals:</b></h3>
            <div class="info">
                <h6><b class="b1">Назначение:</b> для управления тем, как объект взаимодействует со светом при рендеринге. Они изменяют направление нормалей, которые, в свою очередь, влияют на затенение, отражения и общее восприятие поверхности. Они не изменяют геометрию объекта напрямую, но влияют на её визуальное представление.</h6><br>
                <h6>В модификаторы Normals входят:</h6><br>
                    <ol class="sol2">
                        <li><p><b><a href="#NE">Normal Edit</a></b></p></li><br>
                        <li><p><b><a href="#WE">Weighted Normal </a></b></p></li><br>
                        <li><p><b><a href="#SA">Smooth by Angle</a></b></p></li>
                    </ol>
            </div><a name="NE"></a><br><br>
            <div class="info2">
                <p><h3><b><u>Normal Edit Modifier (Редактирование нормалей)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Непосредственное редактирование нормалей объекта для управления затенением и видимостью поверхностей.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="WE"></a>
                <h6>Позволяет изменять направление нормалей вершин, полигонов или ребер. Это влияет на то, как объект будет выглядеть при рендеринге, позволяя исправлять артефакты затенения, создавать эффект фальшивых отражений или другие специальные эффекты. Можно выбирать нормали и редактировать их направление, угол наклона или среднее значение для группы.</h6><br>
            </div>
            <div class="info2-2">
                <p><h3><b><u>Weighted Normal Modifier (Взвешенные нормали)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Улучшение затенения объектов с острыми краями или плоскими поверхностями.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="SA"></a>
                <h6>Вычисляет и корректирует нормали, основываясь на площади поверхности полигонов, что предотвращает появление артефактов затенения и делает поверхность более гладкой визуально. Можно использовать “веса” для влияния на коррекцию нормалей. Помогает сгладить переходы и скрыть недостатки модели при рендеринге.</h6><br>
            </div>
            <div class="info2">
                <p><h3><b><u>Smooth by Angle Modifier (Сглаживание по углу)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6> Сглаживание нормалей объекта, основываясь на угле между полигонами.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Physics"></a>
                <h6> Вычисляет и сглаживает нормали на тех участках объекта, где угол между полигонами меньше заданного значения. Помогает сгладить поверхность без использования разделения полигонов, как при Subdivision Surface. Применяется на гранях и ребрах, сглаживая переходы и уменьшая резкие углы.</h6><br>
            </div>
        <p><h3><b>Модификаторы Physics:</b></h3>
            <div class="info">
                <h6><b class="b1">Назначение:</b> позволяют создавать физические симуляции в Blender, имитируя поведение объектов в реальном мире, таких как: ткань, жидкости, твердые тела, частицы. Они используются для создания реалистичных анимаций и эффектов.</h6><br>
                <h6>В модификаторы Physics входят:</h6><br>
                    <ol class="sol2">
                        <li><p><b><a href="#Clo">Cloth</a></b></p></li><br>
                        <li><p><b><a href="#Col">Collision</a></b></p></li><br>
                        <li><p><b><a href="#Dyn">Dynamic Paint</a></b></p></li><br>
                        <li><p><b><a href="#Exp">Explode</a></b></p></li><br>
                        <li><p><b><a href="#Flu">Fluid</a></b></p></li><br>
                        <li><p><b><a href="#Oce">Ocean</a></b></p></li><br>
                        <li><p><b><a href="#ParI">Particle Instance</a></b></p></li><br>
                        <li><p><b><a href="#ParS">Particle System</a></b></p></li><br>
                        <li><p><b><a href="#Sof">Soft Body</a></b></p></li>
                    </ol>
            </div><a name="Clo"></a><br><br>
            <div class="info2">
                <p><h3><b><u>Cloth (Ткань)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Симуляция ткани, имитируя её поведение под воздействием внешних сил.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Col"></a>
                <h6>Позволяет объекту вести себя как ткань, реагируя на гравитацию, ветер и столкновения с другими объектами.</h6><br>
            </div>
            <div class="info2-2">
                <p><h3><b><u>Collision (Столкновение)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Определение объекта как объекта столкновения для других физических симуляций.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Dyn"></a>
                <h6>Позволяет другим симуляциям (например, ткани или мягких тел) взаимодействовать с объектом и избегать проникновений.</h6><br>
            </div>
            <div class="info2">
                <p><h3><b><u>Dynamic Paint (Динамическая краска)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Создание динамических красок на поверхности объекта, взаимодействующих с другими объектами.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Exp"></a>
                 <h6>Позволяет объектам оставлять "следы" краски при контакте с другими объектами, создавая интерактивные эффекты.</h6><br>
            </div>
            <div class="info2-2">
                <p><h3><b><u>Explode (Взрыв)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Имитация взрыва объекта.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Flu"></a>
                <h6>Разбрасывает части объекта в разных направлениях, создавая эффект взрыва.</h6><br>
            </div>
            <div class="info2">
                <p><h3><b><u>Fluid (Жидкость)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                 <h6>Симуляция жидкостей и газов.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Oce"></a>
                <h6>Позволяет создавать реалистичные симуляции жидкостей и газов, взаимодействующих с другими объектами и окружением.</h6><br>
            </div>
            <div class="info2-2">
                <p><h3><b><u>Ocean (Океан)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Симуляция поверхности океана.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="ParI"></a>
                <h6>Генерирует реалистичную поверхность океана, которая может анимироваться для создания эффекта волн.</h6><br>
            </div>
            <div class="info2">
                <p><h3><b><u>Particle Instance (Инстанс частиц)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                 <h6>Использование частиц для инстансирования объектов.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="ParS"></a>
                <h6>Позволяет отображать объекты вместо частиц, создавая эффекты размножения объектов или распределения по поверхности.</h6><br>
            </div>
            <div class="info2-2">
                <p><h3><b><u>Particle System (Система частиц)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                 <h6>Создание и управление системами частиц.</h6>
                <h6><b class="b1">Функция:</b></h6><a name="Sof"></a>
                <h6>Позволяет создавать системы частиц для имитации эффектов, таких как дождь, дым, снег и т.д. Можно управлять их свойствами и движением.</h6><br>
            </div>
            <div class="info2">
                <p><h3><b><u>Soft Body (Мягкое тело)</u></b></h3>
                <h6><b class="b1">Назначение:</b></h6>
                <h6>Симуляция поведения мягких тел (например, резины, желе).</h6>
                <h6><b class="b1">Функция:</b></h6>
                <h6>Позволяет объектам вести себя как мягкие тела, деформируясь при воздействии внешних сил или столкновениях.</h6><br>
            </div>
        </div>
    </div>
{% endblock %}