{% extends 'base.html' %}

{% block  title %}
Видео уроки
{% endblock %}

{% block video %}
    <li class="in">Видео обучение</li>
{% endblock %}
{% block  body %}
    <div id="host">
        <h3>ВИДЕО ОБУЧЕНИЕ:</h3>
        <div class="video1">
            видео 1
        </div>
        <div class="video2">
            видео 2
        </div>
        <div class="video1">
            видео 1
        </div>
        <div class="video2">
            видео 2
        </div>
        <div class="video1">
            видео 1
        </div>
        <div class="video2">
            видео 2
        </div>
        <div class="video1">
            видео 1
        </div>
        <div class="video2">
            видео 2
        </div>
        <div class="video1">
            видео 1
        </div>
        <div class="video2">
            видео 2
        </div>
    </div>
{% endblock %}